.btn-home-delete{
    height: 80px;
    background-color:white;
    border: none;
    padding: 0 0;
}
.btn-home-delete:hover{
    color: aliceblue;
    background-color: orange;
}
.btn-addtask{
    margin-left: auto;
    background-color: rgba(249, 163, 2, 0.978);
    border: none;
    height: 40px;
    padding: 0 20px;
    border-radius: 6px;
}

.sidenav{
    background-color: rgba(99, 126, 126, 0.219);
    height: 600px;
}
.btn-in-comp{
    text-transform: uppercase;
    width: 50%;
    border: none;
    height: 40px;
    background-color: rgba(112, 104, 104, 0.122);
}
.btn-in-comp:hover{
    border-radius: 5px;
    color: aliceblue;

    background-color: orange;
}
.btnincomp{
   
    margin: 3% 5% 3% 5%;
}
ul{
    
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
}
ul li{
    margin-left: 40%;
    list-style: none;
}
ul li a{
    background-color: rgba(232, 238, 244, 0.593);
    position: relative;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(33, 5, 5);
    font-weight: bold;
    cursor: pointer;

}
  li.active a{
    background: rgba(251, 167, 12, 0.86) ;
}
